_book
*.html
docs/*.html 
*~
*.o
GPATH
GRTAGS
GTAGS
build
SysLibInclude
SysLocLibInclude
tags
CMake*
Makefile
*.so
*.a
cmake*
kylin_testing
cscope.out
cscope.files
gdb.cfg
*.vsf
*.vsm
VSlobTest
__pycache__
python3.5
libs